@font-face {
   font-family: AvenirLight;
   src: url("fonts/AvenirLTStd-Light.otf") format("opentype");
}

@font-face {
   font-family: Avenir;
   src: url("fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
    font-family: Avenir;
    src: url("fonts/AvenirLTStd-Black.otf") format("opentype");
    font-weight: bold;
}

.header-logo {
  float: left;
  margin: 24px 0 0px 32px;
}

.header-menu {
  float: right;
  margin: 24px 32px 0px 0;
  width: 40px;
  height: 40px;
  
}
.header-ff{
  float: none;

width: 25px;
  height: 2px;
  border: solid 2px #f9f9f9;
   border-radius: 25%;

}

.header-ss{
  float: none;

 width: 14px;
  height: 2px;
  border: solid 2px #f9f9f9;
   border-radius: 25%;

}

.header-ff-m{

margin-top: 10px;

}

.header-ss-m{

margin-top: 10px
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: white;
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 13px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.mm-logo{
  padding: 4px;
  width: 40px;
  height: 40px;
  position: absolute;
    top: 66px;
    left: 63px;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.o-blog{
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(119deg, #a61e56, #a41f58 4%, #a1205b 8%, #70368c);
   font-family: Avenir;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.o-contact{
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(119deg, #a61e56, #a41f58 4%, #a1205b 8%, #70368c);
   font-family: Avenir;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.o-about{
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(119deg, #a61e56, #a41f58 4%, #a1205b 8%, #70368c);
   font-family: Avenir;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#menu-icon {
  width: 20px;
  height: 2px;
  border: solid 3px #f9f9f9;
}

.gradient {
	float: left;
	display: block;
    width: 100%;
    height: 100vh;
	background-image: linear-gradient(150deg, #a61e56, #a41f58 4%, #a1205b 8%, #70368c);
}
.back-gradient{	

}
.contain-head{
margin-top: 100px;
}

.back-head{
	float: none;
	margin: auto;
	width: 278px;
  height: 72px;
  font-family: Avenir;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.back-data{
	float: none;
	margin: auto;
	width: 191px;
  height: 48px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.first-data {
  
  height: 110px;
  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
}

.first-data-ini{
	width: 100%;
	float: left;
text-align: center;
	padding-top: 80.3%;
}

.first-tier{
	float: left;
	display: block;
	width: 100%;
}

.second-data-ini{
	width: 100%;
	float: left;
text-align: center;
padding-top: 15.3%;
}

.second-tier{
	float: left;
	display: block;
	width: 100%;
	background-color: #f9f9f9;
}


.divider {
	display: -webkit-box;
  width: 109px;
  height: 2px;
  border-style: solid;
  border-width: 3px;
  border-image-source: linear-gradient(93deg, #c84468, #974177);
  border-image-slice: 1;
  float: none;
  margin: auto;
}

.first-icon{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.first-data2 {
  padding-top: 10px;
  width: 100%;
  float: left;
  text-align: center;
  height: 27px;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}

.first-data3{
	padding-top: 45px;
	float: none;
	margin: auto;
  width: 284px;
  height: 150px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #777777;
}

.first-image-mob{
	margin-top: 30px
}
.first-image {
	float: none;
	margin: auto;
  width: 222px;
  height: 500px;
  border-radius: 27.6px;
  background-color: #ffffff;
  box-shadow: 0 19px 22px 0 rgba(0, 0, 0, 0.09), 0 -12px 24px 0 rgba(0, 0, 0, 0.08);
}

.first-image-inner{
	width: 200px;
  height: 450px;
}
.first-image-inner > img{
	float: none;
	margin: auto;
	height: 100%;
    max-width: 100%;
    width: -webkit-fill-available;
    width: -moz-fit-content;
}

.phone_cover1{
	margin-top: 25px;
	margin-bottom: 50px; 
}

.home_screen_phone1{ 
	float: none;
	margin: auto;
	width: 222px;
	height: 435px;
	border-radius: 27.6px;
	background-color: #ffffff;
	box-shadow: 0 19px 22px 0 rgba(0, 0, 0, 0.09), 0 -12px 24px 0 rgba(0, 0, 0, 0.08);
}

.phone_screen1{
	margin: auto;
	width: 190px;
	height: 304px;
	background-color: #d8d8d8;
	border: solid 1.2px #ebebeb;
}

.phone_screen1 >img{
	height: 104%;
    max-width: 100%;
    width: -webkit-fill-available;
    width: -moz-fit-content;
}

.oval1{
	border-radius: 50%;
    width: 37.7px;
    height: 37.8px;
    opacity: 0.2;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1.7px;
    border-image-slice: 1;
    float: none;
    margin: auto;
}

.second-icon > img{
  display:block;
   margin:auto;
 
}
.phone-margin{
margin-top: 80px;

}
.phone_cover_foot1{
    position: absolute;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    
}

.home_screen_phone_foot1{ 
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    width: 260px;
    height: 518px;
    border-radius: 32.4px;
    background-color: #ffffff;
    box-shadow: 0 22px 26px 0 rgba(0, 0, 0, 0.09), 0 -14px 28px 0 rgba(0, 0, 0, 0.08);
    z-index: 2;
}

.phone_screen_foot1{
	margin: auto;
	width: 226px;
	height: 386.7px;
	background-color: #d8d8d8;
	border: solid 1.2px #ebebeb;
}

.phone_screen_foot1 >img{
	height: 100%;
    max-width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.oval_foot1{
	border-radius: 50%;
    width: 37.7px;
    height: 37.8px;
    opacity: 0.2;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1.7px;
    border-image-slice: 1;
    float: none;
    margin: auto;
}


.third-data {
  
  width: 301px;
  height: 40px;
  float: none;
  margin:auto;
  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
}

.third-data-ini{
	width: 100%;
	float: left;
text-align: center;
padding-top: 20%;
}

	.third-m{
	float: left;
	display: block;
	width: 100%;
	height: 88vh;
	}

	.slip_slide-m{
		width: 83%;
	    float: none;
	    height: 520px;
	    display: block;
	    margin: auto;
	}

	.carousel_container-m{
		margin: auto;
		width: 80%;
		float: none;
		height: 378px;
		display: block;
	}

	.testimonial-m{
	    height: 300px;
	    width:  268px;
	    float: none;
	    margin: auto;
	}

	.testimonial_cover-m{
	    padding: 70px 0px 0px 38px;
	    margin-top: 116px;
	    width: 290px;
	    height: 290px;
	    background-color: #ffffff;
        box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.07), 0 5px 20px 0 rgba(0, 0, 0, 0.09);




	}

	.testimonial_image-m{
	    margin-top: -111px;
	    position: absolute;
	    margin-left: 0px;
	    max-width: 100%;
	    width: 105px !important;
	    height: 105px;
	    border-radius: 50%;
		
	}

	.testimonial_name-m{
	    width: 160px;
	  height: 27px;
	  font-family: Avenir;
	  font-size: 20px;
	  font-weight: 900;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: normal;
	  letter-spacing: normal;
	  text-align: left;
	  color: #1a1a1a;
	}

	.testimonial_description-m{
	   width: 229px;
	  height: 160px;
	  font-family: Avenir-Roman;
	  font-size: 16px;
	  font-weight: normal;
	  font-style: normal;
	  font-stretch: normal;
	  line-height: 1.5;
	  letter-spacing: normal;
	  text-align: left;
	  color: #1a1a1a;
	}



.fourth-tier{
	float: left;
	display: block;
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(159deg, #a42059, #872d76);
}

.fourth-margin{
	margin-top: 50px;
	margin-bottom: 50px;
}

.fourth-parts{
	
	float: none;
	margin: auto;
  width: 282px;
  height: 144px;
  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.fourth-inner-division{
	width: 50%; height: 50%; float: left;
}
.fourth-inner-division{
	width: 50%; height: 50%; float: right; text-align: right;
}
#div1 {  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;}
#div2 {  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;}
#div3 {  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;}
#div4 {  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;}

  .fourth-data1{
  	float: none;
  	margin: auto;
  	width: 202px;
  height: 33px;
  font-family: Avenir;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  }

  .fourth-apple{
  	margin-top: 20px;
  }

  .fourth-apple-int{
  	margin: auto;
  	float: none;
  	width: 221px;
  height: 56px;
  object-fit: contain;
  }

.fourth-android{
  	margin-top: 25px;
  }

  .fourth-android-int{
  	margin: auto;
  	float: none;
  	width: 221px;
  height: 56px;
  object-fit: contain;
  }
.fourth-pic{
	margin-top: 17%;


  }

  .fourth-pic-inc{
  	margin: auto;
  	float: none;
  	width: 258px;
  height: 515px;
  border-radius: 32.3px;
  background-color: #ffffff;
  box-shadow: 0 22px 26px 0 rgba(0, 0, 0, 0.09);
  }
  .fourth-pic-inc-in{
  	margin:auto;
  	float: none;
  	width: 222.7px;
    height: 376.3px;
  	 
  }
  .fourth-image{
  	margin-top: 46px;
  	width: 222.7px;
    height: 376.3px;
  	position: absolute;
  }

  .fourth-oval-outer{
  	 margin-top: 12px;
  }
  .fourth-oval{
  	border-radius: 50%;
    width: 37.7px;
    height: 37.8px;
    opacity: 0.2;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1.7px;
    border-image-slice: 1;
    float: none;
    margin: auto;


  border-radius: 50%;
    border-image-slice: 1;
  }
  .fourth-pic-inc-in > img{
  }

.fifth-tier{
	float: left;
	display: block;
	width: 100%;
	height: 100vh;
	
}
.fifth-start{
	padding-top: 80.3%;

}

.fifth-data {
    height: 80px;
  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  padding-top: 12px;
}
.fifth-inside-color{
	background-color: #f9f9f9;
}

.fifth-dotted-map{
  height: 270px;
  padding-top: 18px;
  background-image: url("dotted_map.png");
  background-size: cover;
}


.fifth-email{
	float: none;
	margin: auto;
	width: 311px;
  height: 56px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 15px 32px 0 rgba(0, 0, 0, 0.08);
}

.fifth-button-margin{

	margin-top: 28px;
}
.fifth-sub-margin{

	padding: 16px 11px 0px 0px;
}
.fifth-sub{
	float: none;
	margin: auto;
	width: 92px;
  height: 27px;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.fifth-button{
	text-align: center;
	float: none;
	margin: auto;
	width: 199px;
  height: 56px;
  border-radius: 50px;
  background-image: linear-gradient(108deg, #a61e56, #70368c 98%);
}

.final{
	float: left;
	display: block;
	width: 100%;
}

/*.all-icons{
float: none;
margin: auto;
display: inline-block;
}

#isnta-m {
    width: 32px;
    height: 32px;  
	background-color: blue;
}
*/

#menu-outer {
	height: 84px;
	
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#horizontal-list {
	list-style: none;
	padding-top: 20px;
	}
	#oo {
		display: inline;
	}
	#ooo {
		display: inline;
		padding-left: 15px;
	}
	#oooo {
		display: inline;
		padding-left: 15px;
	}
	#ooooo	 {
		display: inline;
		padding-left: 15px;
	}



.final-margin{
	float: none;
	margin: auto;
	text-align: center;
}

.final-data{
	margin-bottom: 30px;
}

.final-cont{
	display: inline;
	width: 78px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}
.final-abt{
	
	margin-left: 20px;
	display: inline;
	width: 68px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;

}
.final-prv{
	display: inline;
	margin-left: 20px;
	width: 56px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

.final-end-margin{
	float: none;
	margin: auto;
	
}

.final-foot{
	display: block;
	float: none;
	margin: auto;
	width: 260px;
  height: 19px;
  opacity: 0.3;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}




@media only screen 
and (min-width : 400px)
 {

 	.back-head{
	float: none;
	margin: auto;
	width: 347px;
  height: 90px;
  font-family: Avenir;
  font-size: 28px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.back-data{
	float: none;
	margin: auto;
	width: 248px;
  height: 48px;
  font-family: Avenir;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

 	.phone-margin{
margin-top: 170px;

}
.phone_cover_foot1{
    position: absolute;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    
}

.home_screen_phone_foot1{ 
position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    width: 260px;
    height: 518px;
    border-radius: 32.4px;
    background-color: #ffffff;
    box-shadow: 0 22px 26px 0 rgba(0, 0, 0, 0.09), 0 -14px 28px 0 rgba(0, 0, 0, 0.08);
    z-index: 2;
}

.phone_screen_foot1{
	margin: auto;
	width: 226px;
	height: 386.7px;
	background-color: #d8d8d8;
	border: solid 1.2px #ebebeb;
}

.phone_screen_foot1 >img{
	height: 100%;
    max-width: 100%;
    width: -webkit-fill-available;
    width: -moz-available;
}

.oval_foot1{
	border-radius: 50%;
    width: 37.7px;
    height: 37.8px;
    opacity: 0.2;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1.7px;
    border-image-slice: 1;
    float: none;
    margin: auto;
}
}



@media only screen 
and (min-device-width : 340px) 
and (max-device-width : 400px) {


	.back-head{
	float: none;
	margin: auto;
	width: 308px;
  height: 75px;
  font-family: Avenir;
  font-size: 31px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.back-data{
	float: none;
	margin: auto;
	width: 218px;
  height: 48px;
  font-family: Avenir;
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}	

	.phone-margin{
margin-top: 121px;

}


	.slip_slide-m{
		width: 90%;
	    float: none;
	    height: 520px;
	    display: block;
	    margin: auto;
	}

	.fourth-tier{
	float: left;
	display: block;
	width: 100%;
	height: 115vh;
	background-image: linear-gradient(159deg, #a42059, #872d76);
}

	.fifth-tier{
	float: left;
	display: block;
	width: 100%;
	height: 116vh;
	
}
.fifth-start{
	padding-top: 96.3%;

}

.fifth-data {
    height: 80px;
  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  padding-top: 12px;
}
.fifth-inside-color{
	background-color: #f9f9f9;
}

.fifth-dotted-map{
  height: 270px;
  padding-top: 18px;
  background-image: url("dotted_map.png");
  background-size: cover;
}


.fifth-email{
	float: none;
	margin: auto;
	width: 311px;
  height: 56px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 15px 32px 0 rgba(0, 0, 0, 0.08);
}

.fifth-button-margin{

	margin-top: 28px;
}
.fifth-sub-margin{

	padding: 16px 11px 0px 0px;
}
.fifth-sub{
	float: none;
	margin: auto;
	width: 92px;
  height: 27px;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.fifth-button{
	text-align: center;
	float: none;
	margin: auto;
	width: 199px;
  height: 56px;
  border-radius: 50px;
  background-image: linear-gradient(108deg, #a61e56, #70368c 98%);
}

.final{
	float: left;
	display: block;
	width: 100%;
}

/*.all-icons{
float: none;
margin: auto;
display: inline-block;
}

#isnta-m {
    width: 32px;
    height: 32px;  
	background-color: blue;
}
*/

#menu-outer {
	height: 84px;
	
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#horizontal-list {
	list-style: none;
	padding-top: 20px;
	}
	#oo {
		display: inline;
	}
	#ooo {
		display: inline;
		padding-left: 15px;
	}
	#oooo {
		display: inline;
		padding-left: 15px;
	}
	#ooooo	 {
		display: inline;
		padding-left: 15px;
	}



.final-margin{
	float: none;
	margin: auto;
	text-align: center;
}

.final-data{
	margin-bottom: 30px;
}

.final-cont{
	display: inline;
	width: 78px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}
.final-abt{
	
	margin-left: 20px;
	display: inline;
	width: 68px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;

}
.final-prv{
	display: inline;
	margin-left: 20px;
	width: 56px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

.final-end-margin{
	float: none;
	margin: auto;
	
}

.final-foot{
	display: block;
	float: none;
	margin: auto;
	width: 260px;
  height: 19px;
  opacity: 0.3;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}
}


@media only screen 
and (min-device-width : 310px) 
and (max-device-width : 330px) {

	.testimonial_cover-m {
    padding: 70px 0px 0px 38px;
    margin-top: 116px;
    width: 252px;
    height: 290px;
    background-color: #ffffff;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.07), 0 5px 20px 0 rgba(0, 0, 0, 0.09);
}

	.testimonial-m {
    height: 305px;
    width: 252px;
    float: none;
    margin: auto;
}

	.testimonial_description-m {
    width: 204px;
    height: 160px;
    font-family: Avenir-Roman;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
}

	.phone-margin {
    margin-top: 40px;
}

	.third-m{
	float: left;
	display: block;
	width: 100%;
	height: 100vh;
	}

	.fourth-tier{
	float: left;
	display: block;
	width: 100%;
	height: 134vh;
	background-image: linear-gradient(159deg, #a42059, #872d76);
}

	.fifth-tier{
	float: left;
	display: block;
	width: 100%;
	height: 125vh;
	
}
.fifth-start{
	padding-top: 96.3%;

}

.fifth-data {
    height: 80px;
  font-family: Avenir;
  font-size: 32px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: #1a1a1a;
  padding-top: 12px;
}
.fifth-inside-color{
	background-color: #f9f9f9;
}

.fifth-dotted-map{
  height: 270px;
  padding-top: 18px;
  background-image: url("dotted_map.png");
  background-size: cover;
}


.fifth-email{
	float: none;
	margin: auto;
	width: 311px;
  height: 56px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 15px 32px 0 rgba(0, 0, 0, 0.08);
}

.fifth-button-margin{

	margin-top: 28px;
}
.fifth-sub-margin{

	padding: 16px 11px 0px 0px;
}
.fifth-sub{
	float: none;
	margin: auto;
	width: 92px;
  height: 27px;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.fifth-button{
	text-align: center;
	float: none;
	margin: auto;
	width: 199px;
  height: 56px;
  border-radius: 50px;
  background-image: linear-gradient(108deg, #a61e56, #70368c 98%);
}

.final{
	float: left;
	display: block;
	width: 100%;
}

/*.all-icons{
float: none;
margin: auto;
display: inline-block;
}

#isnta-m {
    width: 32px;
    height: 32px;  
	background-color: blue;
}
*/

#menu-outer {
	height: 84px;
	
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

#horizontal-list {
	list-style: none;
	padding-top: 20px;
	}
	#oo {
		display: inline;
	}
	#ooo {
		display: inline;
		padding-left: 15px;
	}
	#oooo {
		display: inline;
		padding-left: 15px;
	}
	#ooooo	 {
		display: inline;
		padding-left: 15px;
	}



.final-margin{
	float: none;
	margin: auto;
	text-align: center;
}

.final-data{
	margin-bottom: 30px;
}

.final-cont{
	display: inline;
	width: 78px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}
.final-abt{
	
	margin-left: 20px;
	display: inline;
	width: 68px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;

}
.final-prv{
	display: inline;
	margin-left: 20px;
	width: 56px;
  height: 22px;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #1a1a1a;
}

.final-end-margin{
	float: none;
	margin: auto;
	
}

.final-foot{
	display: block;
	float: none;
	margin: auto;
	width: 260px;
  height: 19px;
  opacity: 0.3;
  font-family: Avenir;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1a1a1a;
}
}


@media only screen 
and (min-width : 412px)
and (max-height : 732px)
 {
 	.fourth-tier {
    float: left;
    display: block;
    width: 100%;
    height: 110vh;
    background-image: linear-gradient(159deg, #a42059, #872d76);
}

 	.fifth-tier {
    float: left;
    display: block;
    width: 100%;
    height: 109vh;
}
 }