@font-face {
    font-family: CircularStd;
    src: url("CircularStd-Medium.otf") format("opentype");
 }
 
 @font-face {
    font-family: Avenir;
    src: url("fonts/AvenirLTStd-Book.otf") format("opentype");
 }
 
 @font-face {
     font-family: Avenir;
     src: url("fonts/AvenirLTStd-Black.otf") format("opentype");
     font-weight: bold;
 }

body {
    width: auto;
    font-family: CircularStd;
}

.header {
    height: 70px;
    padding: 0 5% 0 5%;
    /* float: left; */
    width: inherit;
    background: #2949AC;
}

.header > .logo{
    float: left;
    width: 25%;
    height: inherit;
}

.header > .logo > img{
    margin: 7% 0 0 0;
    float: left;
}

.header > .menu{
    width: 60%;
    float: left;
    height: inherit;
}

.header > .menu > .menu-container{
    width: 79%;
    float: right;
    height: inherit;
}

.header > .menu > .menu-container > .menu-item{
    float: left;
    height: inherit;
    padding: 4% 2% 2% 2%;
}

.header > .menu > .menu-container > .menu-item > a{
    color:#efeded;
    transition: 0.3s;
    font-weight: bold;
    font-family: CircularStd;
    font-size: 17px;
}

.header > .menu > .menu-container > .menu-item > a:hover {
    border-bottom: 3px solid #efeded;
}

.header > .phone{
    padding: 2% 0 0 1%;
    width: 15%;
    float: left;
    height: inherit;
    border-left: 1px solid #D0D0D0;
}

.header > .phone > .head-phone{
    color:#efeded;
    transition: 0.3s;
    font-family: CircularStd;
}

.herosection {
    width: 100%;
    height: 660px;
    background: url(../images/happy-smiling-family.jpg) no-repeat right;
    background-size: contain !important;
}

.herosection > .hero-text {
    width: 50%;
    height: inherit;
    padding: 9% 0 0 9%;
}

.herosection > .hero-text > .big-text > span {
    line-height: 0.97;
    font-weight: bold;
    font-family: CircularStd;
    width: 100%;
    color: #005cad;
    font-size: 75px;
}

.herosection > .hero-text > .footnote {
    letter-spacing: -0.9px;
    color: #31322f;
    text-transform: none;
    margin-top: 15px;
    font-size: 32px;
    font-weight: bold;
}

.herosection > .hero-text > .callme{
    margin-top: 44px;
}

.herosection > .hero-text > .callme > .callbtn {
    color: #005cad;
    background-color: #ffffff;
    box-shadow: 0 1px 2px 0 rgb(0, 0, 0);
    text-decoration: none;
    opacity: 1;
    text-transform: uppercase;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    line-height: 60px;
    border: 1px solid transparent;
    border-radius: 3px !important;
    padding: 0 35px;
    height: 60px;
    white-space: nowrap;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
    margin: 0;
}